body {
	background-color: #000;
	color: #fff;
}

.card {
	top: 40%;
	position: fixed;
	text-align: center;
	width: 100%;
}

h1, h2 {
	font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
}
